.top {
    padding-bottom: 10px;
    background-color: #202128;
}

h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 0px;
    color: white;
}

h4 {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.code-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

a {
    color: #bec9ce;
}

a:hover {
    color: #7f9096;
    text-decoration: none;
}

body {
    background-color: white;
    padding-bottom: 40px;
}

.btn-gen {
    margin-top: 40px;
    margin-bottom: 40px;
}

.github {
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

.main {
    padding-top: 10px;
}

.card-selector {
    padding-top: 10px;
}

.selected-cards {
    list-style-type: none;
    padding-bottom: 3px;
}


